.material-symbols-outlined{
    color:gray;
    font-size: 30px;
}
.header{
    display: flex;
    gap:30px;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color:rgb(184, 181, 181);
}
.search{
    padding:5px 10px;
    width:80%;
    height:40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: solid grey;
    border-radius: 10px;
}
.filter{
    padding: 10px;
    width:150px;
    height:30px;
    display: none;
    justify-content: space-between;
    border: solid grey;
    border-radius: 10px;
    background-color: white;
}
#input{
    width: 400px;
    height:30px;
    padding-left: 10px;
    font-size: 20px;
    border: none;
    outline: none;
}
div.mat-form-field{
    top:0;
    padding: 1px;
    height:30px;
    margin-bottom: 0px;
}

@media screen and (min-width: 862px) {
    .filter {
      display: flex;
    }
    .search {
        width: 40%;
    }
  }