<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<div>
    <div class="header">
        <div class="search">
            <input id="input" placeholder="search"/>
            <span class="material-symbols-outlined">
                search
            </span>
        </div>     
        <br>
        <div class="filter">
            <mat-form-field class="dropdown">
                <mat-label>Select</mat-label>
                <mat-select placeholder="Select" >
                  <mat-option value="price">Price</mat-option>
                  <mat-option value="rating">Rating</mat-option>
                  <mat-option value="Delivery">Delivery Days</mat-option>
                </mat-select>
              </mat-form-field> 
        </div>
    </div>
</div>