<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<div>
    <div class="header">
        <div>
            <span class="material-symbols-outlined">
                menu
            </span>
        </div>
        <div class="search">
            <input id="input" placeholder="search" name="search" [(ngModel)]="search" (keyup)="searchData()" />
            <span class="material-symbols-outlined">
                search
            </span>
        </div>    
        <div style="display: flex;">
            <div class="filter">
                <label for="price">Price:</label>
                <select id="price" class="filter-select" (change)="onFilterChange()">
                <option value="all">All</option>
                <option value="low">Low to High</option>
                <option value="high">High to Low</option>
                </select>
            </div>
            <div class="filter">
                <label for="delivery">Delivery Time:</label>
                <select id="delivery" class="filter-select" (change)="onFilterChange()">
                <option value="all">All</option>
                <option value="fast">Fastest</option>
                <option value="slow">Slowest</option>
                </select>
            </div>
        </div>
    </div>
</div>